@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1e1f22;
  color: white;
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}
